In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
#Read the datafile
seqlearn_table = pd.read_csv("10_subject_data.csv")
seqlearn_table.head(5)

,Event Index,UTC Timestamp,UTC Date,Local Timestamp,Local Timezone,Local Date,Experiment ID,Experiment Version,Tree Node Key,Repeat Key,...,video_fname,ANSWER,tour_string,trial_number,phase_id,stim_type,mascot_name,action_bare,video_context,action_number
0,1,1.614121e+12,23/02/2021 22:48:30,1.614121e+12,-5.0,23/02/2021 17:48:29,43256.0,6.0,task-z7dv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1.614121e+12,23/02/2021 22:51:37,1.614121e+12,-5.0,23/02/2021 17:51:36,43256.0,6.0,task-z7dv,NaN,...,none,NaN,NaN,0.0,overall_instructions,none,none,none,none,0.0
2,3,1.614121e+12,23/02/2021 22:51:38,1.614121e+12,-5.0,23/02/2021 17:51:37,43256.0,6.0,task-z7dv,NaN,...,none,NaN,NaN,0.0,overall_instructions,none,none,none,none,0.0
3,4,1.614121e+12,23/02/2021 22:51:39,1.614121e+12,-5.0,23/02/2021 17:51:38,43256.0,6.0,task-z7dv,NaN,...,none,NaN,NaN,0.0,overall_instructions,none,none,none,none,0.0
4,5,1.614121e+12,23/02/2021 22:51:41,1.614121e+12,-5.0,23/02/2021 17:51:40,43256.0,6.0,task-z7dv,NaN,...,none,NaN,NaN,0.0,overall_instructions,none,none,none,none,0.0

In [8]:
# Remove white spaces in the column names and make them into strings
seqlearn_table.columns = seqlearn_table.columns.str.replace(' ', '_')
seqlearn_table.columns

Index(['Event_Index', 'UTC_Timestamp', 'UTC_Date', 'Local_Timestamp',
       'Local_Timezone', 'Local_Date', 'Experiment_ID', 'Experiment_Version',
       'Tree_Node_Key', 'Repeat_Key', 'Schedule_ID', 'Participant_Public_ID',
       'Participant_Private_ID', 'Participant_Starting_Group',
       'Participant_Status', 'Participant_Completion_Code',
       'Participant_External_Session_ID', 'Participant_Device_Type',
       'Participant_Device', 'Participant_OS', 'Participant_Browser',
       'Participant_Monitor_Size', 'Participant_Viewport_Size', 'Checkpoint',
       'Task_Name', 'Task_Version', 'checkpoint-afi1', 'checkpoint-z3dm',
       'checkpoint-na1f', 'counterbalance-cx13', 'checkpoint-ox9t',
       'Spreadsheet', 'Spreadsheet_Name', 'Spreadsheet_Row', 'Trial_Number',
       'Screen_Number', 'Screen_Name', 'Zone_Name', 'Zone_Type',
       'Reaction_Time', 'Reaction_Onset', 'Response_Type', 'Response',
       'Attempt', 'Correct', 'Incorrect', 'Dishonest', 'X_Coordinate',
       'Y_Coordinate', 'Timed_Out', 'randomise_blocks', 'randomise_trials',
       'display', 'video_fname', 'ANSWER', 'tour_string', 'trial_number',
       'phase_id', 'stim_type', 'mascot_name', 'action_bare', 'video_context',
       'action_number'],
      dtype='object')

In [24]:
#selecting relevant columns
df = seqlearn_table.loc[:, ["phase_id", "mascot_name", "video_context", "Response", 'stim_type']]

#dropping all columns except recog_random and recog_ordered
data_recog = df[(df.phase_id == "recog_random") | (df.phase_id == "recog_ordered")]

data_recog

          phase_id mascot_name      video_context   Response stim_type
185   recog_random   Kounudoun        performance        NaN   studied
186   recog_random   Kounudoun        performance   sure old   studied
187   recog_random   Kounudoun        performance        NaN   studied
188   recog_random       Jarbo              alley   sure old   studied
189   recog_random       Jarbo              alley        NaN   studied
...            ...         ...                ...        ...       ...
9383  recog_random       Jarbo               roof  maybe old   studied
9384  recog_random       Jarbo               roof        NaN   studied
9385  recog_random       Jarbo  ammusement-ride-2        NaN   studied
9386  recog_random       Jarbo  ammusement-ride-2  maybe old   studied
9387  recog_random       Jarbo  ammusement-ride-2        NaN   studied

[5774 rows x 5 columns]

In [25]:
# Dropping NaN values
clean_data_recog = data_recog.dropna()
clean_data_recog

          phase_id mascot_name         video_context   Response stim_type
186   recog_random   Kounudoun           performance   sure old   studied
188   recog_random       Jarbo                 alley   sure old   studied
192   recog_random       Kapal               hallway   sure new      lure
194   recog_random   Kounudoun         street-fair-1   sure new      lure
197   recog_random      Fukaya      outside-building   sure old   studied
...            ...         ...                   ...        ...       ...
9374  recog_random   Kounudoun         outside-store   sure old   studied
9377  recog_random      Fukaya  standing-behind-cake   sure old   studied
9380  recog_random   Kounudoun    park-with-audience   sure old   studied
9383  recog_random       Jarbo                  roof  maybe old   studied
9386  recog_random       Jarbo     ammusement-ride-2  maybe old   studied

[1930 rows x 5 columns]

In [26]:
test = clean_data_recog.groupby(['phase_id', 'mascot_name', 'video_context', 'stim_type'])['Response'].value_counts()
test.head(60)

phase_id       mascot_name  video_context                          stim_type  Response
recog_ordered  Barasai      announcers                             lure       maybe old    3
                                                                              sure new     2
                                                                              sure old     2
                                                                   studied    sure old     6
                                                                              maybe old    1
                                                                              sure new     1
                            caligraphy                             lure       sure new     3
                                                                              maybe new    2
                                                                   studied    maybe new    1
                            carousel                               lure       maybe new    1
                                                                   studied    sure new     1
                                                                              sure old     1
                            cherry-blossoms                        lure       maybe old    1
                                                                   studied    sure old     2
                            dance-stage-with-background-musicians  studied    sure old     2
                                                                              maybe new    1
                            dance-with-announcers                  lure       maybe new    1
                                                                   studied    maybe old    1
                                                                              sure old     1
                            dance-with-green-performers            lure       maybe new    1
                                                                              sure new     1
                                                                              sure old     1
                            dance-with-little-cheerleaders         lure       guess old    1
                                                                   studied    sure new     1
                                                                              sure old     1
                            greenhouse                             studied    sure old     2
                                                                              guess old    1
                            in-train                               lure       maybe new    1
                                                                   studied    sure old     2
                            mall                                   lure       sure old     2
                                                                              maybe new    1
                            monument                               lure       sure new     2
                                                                   studied    sure new     1
                            park                                   lure       sure new     1
                                                                              sure old     1
                                                                   studied    guess old    1
                            peace-sign                             studied    maybe new    1
                                                                              sure new     1
                                                                              sure old     1
                            relay-race                             lure       sure new     1
                                                                   studied    sure new     1
                                                                              sure old     1
                            rose-garden                            lure       sure new     1
                                                                              sure old     1
                                                                   studied    sure old     1
                            stage-dance-with-children              lure       maybe old    1
                                                                              sure new     1
                                                                   studied    guess old    1
                            street                                 lure       sure new     2
                                                                   studied    sure old     1
                            train                                  lure       sure new     2
                                                                   studied    sure new     1
               Chiba-kun    baseball-game                          lure       guess old    1
                                                                              sure new     1
                                                                   studied    sure old     2
                            beach                                  lure       sure new     4
                                                                   studied    sure old     2
                            christmas-tree                         lure       sure new     2
                                                                   studied    sure old     3
                                                                              maybe new    1
Name: Response, dtype: int64